#chicken{
    border: 1px solid black;
    position: relative;
    
    left: 189px; 
    max-width: 20%; 
    text-align: right; 
    float: left;
}
#aboutchicken{
    padding: 30px 10px 10px 10px;
    border: 1px solid black;
    position: relative;
    max-width: 25%;
    float: left;
}
#shushi{
    border: 1px solid black;
    position: relative;
    left: 189px;
    float: right;
    max-width: 20%;
    text-align: right;
}
#aboutshushi{
    padding: 30px 10px 10px 10px;
    border: 1px solid black;
    position: relative;
    max-width: 25%;
    float: right;
}